body.admin {
	background-color: $body_bg;
	background-image: linear-gradient(rgba(255,255,255,.9) 4px, transparent 4px), linear-gradient(90deg, rgba(255,255,255,.9) 4px, transparent 4px), linear-gradient(rgba(255,255,255,.9) 2px, transparent 2px), linear-gradient(90deg, rgba(255,255,255,.9) 2px, transparent 2px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.bd-admin {
	color: $light_grey;
	height: 100%;
	margin: 0;
	padding: 96px 40px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

form.crud {
	/* Firefox 19+ */
	/* Firefox 18- */
	:-moz-placeholder,
	:-ms-input-placeholder,
	::-moz-placeholder,
	::-webkit-input-placeholder {
		font-style: italic;
		color: red;
	}

	.messages {
		position: absolute;
	}

	.form-group {
		position: relative;
		width: 100%;
	}

	.fields {
		input.ui-autocomplete-input,
		input[type=email],
		input[type=password],
		input[type=text],
		select {
			@include transition(all 0.2s ease-in-out);
			background: rgba(255,255,255,0.2);
			border-bottom: 2px dashed $light_grey;
			text-align: left;
			width: 100%;
			min-width: 300px;

			&:focus {
				background: rgba($primary, 0.08) !important;
				border-color: $primary;
			}

			&:hover {
				background: rgba($yellow, 0.03);
			}
		}
	}

	&.update .save-cancel {
		display: none;
	}
}

.dashboard-releases .module-index .module-header h2 {
	left: -2px;
}


// modal "add new.." templates
#tmpl-create-new {
	display: none;
	position: absolute;
	width: 70%;
	margin: 0;
	max-width: 960px;
	top: -999px;
	left: 20%;

	h2 {
		border-radius: 10px 10px 0 0;
		background: #8dd1e3;
		font-size: 43px;
	}

	.module-header {
		height: 61px;
	}

	.module-create {
		@include box-shadow(none);
		background: none;
	}

	.module-content {
		border-radius: 0 0 10px 10px;
		background: #fefefe;
		padding: 10px 20px;
	}

	a.list {
		display: none;
	}
}

.overlay {
	display: none;
	background: rgba(0,0,0,0.85);
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.success-message {
	border-radius: 5px;
	background: $green;
	color: #fff;
	padding: 20px;
	position: absolute;
	text-align: center;
	top: 40%;
	left: 40%;

	.artist,
	.title {
		font-family: 'Source Code Pro';
	}

	.title {
		font-style: italic;
	}
}
