.hd {
  @include box-shadow(0 2px 20px rgba(0,0,0,0.4));
  background: $header_bg;
  border-bottom: 8px solid $header_border;
  height: 96px;
  position: relative;
  z-index: 20;

  * {
    color: white;
  }

  a {
    text-decoration: none;
  }

  .icon {
    font-size: 40px;
  }
}

nav {
  ul {
    li {
      cursor: pointer;
      display: block;
      float: left;
      padding: 10px 20px;
      position: relative;
    }
    // secondary submenu
    &.sub {
      @include box-shadow(0 10px 20px rgba(0,0,0,0.25));
      background: #fff;
      border-left-style: solid;
      border-left-width: 8px;
      border-top-style: solid;
      border-top-width: 8px;
      display: none;
      margin: 8px 0 0;
      position: absolute;
      top: 80px;
      left: 0;
      min-width: 200px;
      overflow: hidden;
      z-index: 1;

      a {
        color: $dark_grey;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 15px 0 0 10px;
      }

      .icon {
        color: $menu_sub_bg_darker;
        font-size: 50px;
        left: 1px;
        top: 4px;
        position: absolute;
      }

      li {
        @include linear-gradient(to bottom, $menu_sub_bg_light 0%, $menu_sub_bg_dark 100%);
        float: none;
        font-size: 18px;
        line-height: 31px;
        height: 60px;
        margin: 0;
        padding: 25px 20px 14px;

        &:not(:first-child) {
          border-top: 1px solid $menu_sub_bg_light;
        }
        border-bottom: 1px solid $menu_sub_bg_dark;

        &:hover {
          @include box-shadow(2px 2px 6px rgba(0,0,0,0.25));
          @include transition(none);
          background: $secondary;
          background-color: lighten($secondary, 15%); // Old browsers
          @include linear-gradient(to bottom, lighten($secondary, 15%) 0%, $secondary 100%);

          &:not(:first-child) {
            border-top: 1px solid lighten($secondary, 15%);
          }
          border-bottom: 1px solid $secondary;

          .icon {
            color: $secondary;
          }

          a {
            color: white;
          }

          > .side {
            li a .icon {
              color: $dark_grey;
            }
          }
        }
        // tertiary submenu
        .side {
          text-align: right;
          padding: 0;
          position: absolute;
          top: 10px;
          right: 40px;
          z-index: 2;

          li {
            border: none;
            font-size: 14px;
            height: 22px;
            line-height: 11px;
            margin: 0 0 2px;
            padding: 0;

            &:hover {
              @include box-shadow(none);
              background: $red;
            }

            a {
              height: 25px;
              width: 25px;

              .icon {
                color: lighten($light_grey, 5%);
              }

              &:hover {
                &:before {
                  content: attr(title);
                  display: block;
                  position: absolute;
                  top: 2px;
                  left: -93px;
                  bottom: 13px;
                  width: 100px;
                  height: 10px;
                  font-size: 9px;
                  text-transform: uppercase;
                }

                .icon {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }

    &.side {
      .icon {
        font-size: 16px;
        left: 14px;
        top: 0;
      }
    }
  }
}

.main-nav {
  font-size: 26px;
  position: absolute;
  top: 0;
  left: 25px;

  li {
    height: 96px;
    padding: 18px 20px 15px;

    &.top {
      &:hover {
        .sub {
          display: block;
        }

        &:before {
          opacity: 1;
        }
      }

      &:before {
        content: attr(data-title);
        color: lighten($light_grey, 20%);
        display: block;
        opacity: 0.35;
        position: absolute;
        bottom: 8px;
        left: 0;
        right: 0;
        text-align: center;
        width: 100%;
        font-size: 10px;
        font-weight: 100;
        line-height: 30px;
        text-transform: uppercase;
        z-index: 11;
      }
    }

    &[data-title="Home"] {
      .icon {
        font-size: 40px;
        top: 10px;
      }
      &:hover {
        background: $header_red;

        .sub {
          border-color: $header_red;
        }
      }
    }

    &[data-title="Music"] {
      &:hover {
        background: $header_blue;

        .sub {
          border-color: $header_blue;
        }
      }

      .sub {
        li:hover:before {
          background: $header_blue;
        }
      }
    }


    &[data-title="Cards"] {
      &:hover {
        background: $header_purple;

        .sub {
          border-color: $header_purple;
        }
      }

      .sub {
        li:hover:before {
          background: $red;
        }
      }
    }

    &[data-title="Statistics"] {
      &:hover {
        background: $header_aqua;

        .sub {
          border-color: $header_aqua;
        }

        &:before {
          color: $med_grey;
        }
      }
    }

    &[data-title="Config"] {
      &:hover {
        background: $red;

        .sub {
          border-color: $red;
        }
      }
    }
  }
}

.user-nav {
  position: absolute;
  top: 0;
  right: 25px;

  ul li {
    display: inline-block;
    height: 96px;
    padding: 16px 20px 34.5px;

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    &:before {
      content: attr(data-title);
      color: lighten($light_grey, 20%);
      display: block;
      opacity: 0.25;
      position: absolute;
      bottom: 21px;
      left: 0;
      right: 0;
      text-align: center;
      width: 100%;
      font-size: 10px;
      font-weight: 100;
      line-height: 3px;
      text-transform: uppercase;
      z-index: 11;
    }

    &:first-child:hover {
      background: $secondary;
    }

    &:nth-child(2):hover {
      background: $header_red;
    }
  }
}
