.module {
  @include box-shadow(0 0 40px rgba(100,100,100,0.25))
  border-radius: 0;
  background: $white;
  border: none;
  color: $primary;
  margin: 0 auto 20px;
  max-width: 1024px;
  padding: 20px;
  position: relative;

  div,
	p {
		margin: 0 0 10px;
	}

	h1 {
		margin: 0 0 20px;
	}

	.intro {
		margin: 0 0 20px;
	}

  input.ui-autocomplete-input,
  input[type=email],
  input[type=password],
  input[type=text],
  label,
  select {
    display: inline-block;
		font-family: 'Inconsolata', courier;
    font-size: 18px;
    color: $header_bg;
    height: 40px;
    padding: 5px;
		text-align: center;
		width: 100%;
  }

  label {
    text-align: left;
  }

  .module-content {
    margin: 0;
  }

  .module-header {
    height: 67px;
    margin: 0;
    position: relative;

    h2 {
      @include text-shadow(1px 1px 2px rgba(200,200,200,0.25));
      color: $header_border;
      font-family: 'Oswald';
      font-weight: 100;
      font-size: 50px;
      line-height: 49px;
      margin: 0;
      padding: 0 0 2px;
      position: relative;
      top: 10px;
      text-transform: uppercase;

      a.add-new,
      a.list {
        @include text-shadow(1px 1px 2px rgba(200,200,200,0.25));
        @include transition(all 0.3s ease-in-out);
        color: lighten($tertiary, 12%);
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        margin-left: 4px;
        position: absolute;
        bottom: 2px;
        width: 24px;
        height: 34px;

        &:hover {
          color: $red;
          width: 140px;
        }

        .icon {
          font-size: 24px;
          position: absolute;
          bottom: 0;
        }

        .text {
          display: block;
          position: absolute;
          left: 28px;
          top: 0;
          width: 100px;
        }
      }
    }
  }

  .button,
	button,
	input[type=submit] {
		border-radius: 4px;
		background-color: $button_color;
		color: $white;
		cursor: pointer;
		display: inline-block;
		height: 50px;

		&:hover {
			background-color: darken($button_color, 5%);
		}
	}

  .save-cancel {
    clear: both;
    text-align: right;
  }

  .cancel-button,
  .save-button {
    height: 40px;
    width: 40px;
  }

  .save-button {
    background: darken($green, 10%);
    border-color: white;
    // padding: 8px;

    &:hover {
      background: $green;
    }
  }

  .cancel-button {
    background: darken($red, 10%);
    border-color: white;

    &:hover {
      background: $red;
    }
  }

  .delete-button {
    background: darken(red, 20%);
    border-color: $red;
    line-height: 0;
    overflow: hidden;
    text-transform: uppercase;

    &:hover {
      background: red;
    }

    .txt {
      font-family: 'Oswald';
    }
  }

  .cancel-button,
  .delete-button,
  .save-button {
    &:hover {
      border-color: #fff;
    }
  }

  .col-left,
  .col-right {
    float: left;
    margin: 0 auto 10px;
    padding: 2%;
    width: 50%;
  }
}

.module-create {
  .crud-container {
    padding: 15px 0 0;
  }

  .module-header h2 {
    color: lighten($tertiary, 12%);

    .type {
      color: $tertiary;
    }
  }
}

.module-index {
  .releases header {
    .title {
      margin: 0 0 0 10px;
      font-style: italic;
      font-weight: 300;
    }
  }

  h2.no-results {
    color: $tertiary;
    padding: 60px;
    text-align: center;
  }
}
