body {
	background: #fff;
	background-color: #fff;
	height: 100%;
	width: 100%;
}

body * {
	margin: 0;
	padding: 0;
	border: 0;
}

body *,
body *:after,
body *:before {
	box-sizing: border-box;
	outline: none;
}

div,
h1,
h2,
h3,
h4,
hr,
li,
p,
ul {
	margin: 0 0 20px;
}

li {
	list-style: none;
	margin: 0 0 5px 10px;
}

.wr {
	margin: 0 auto;
	max-width: 960px;
}
// clearfix
.group:after {
	content: "";
	display: table;
	clear: both;
}

a {
	color: $red;
	text-decoration: none;

	&:hover {
		color: $primary;
	}
}

.messages {
	font-weight: normal;

	.error {
		color: $red;
	}

	.warn {
		color: $yellow;
	}

	.success {
		color: $green;
	}
}

.module {
	@include box-shadow(0 0 40px rgba(100,100,100,0.25));
	border-radius: 10px;
	background: $white;
	border: 2px solid $white;
	color: $primary;
	margin: 0 auto 20px;
	padding: 40px;

	div,
	p {
		margin: 0 0 10px;
	}

	h1 {
		margin: 0 0 20px;
	}

	.intro {
		margin: 0 0 20px;
	}

	input.ui-autocomplete-input,
	input[type=email],
	input[type=password],
	input[type=text],
	label,
	select {
		font-size: 24px;
		display: inline-block;
		font-family: 'Inconsolata', courier;
		height: 50px;
		padding: 5px;
		text-align: center;
		width: 100%;
	}

	.button,
	button,
	input[type=submit] {
		border-radius: 4px;
		background-color: $button_color;
		color: $white;
		cursor: pointer;
		display: inline-block;
		height: 50px;

		&:hover {
			background-color: darken($button_color, 5%);
		}
	}
}

.icon {
	font-style: normal;
}
